@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Candidate Portal</h1>
    <p>Powerd by <a style="text-decoration:none;" href="https://masumkazi">masum kazi</a></p>
</div>
